#view-highscores {
    color: rgb(91, 40, 124);
}

.d-block {
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
    background-color: rgb(91, 40, 124);
    border: solid;
    border-radius: 10px;
    padding: 3px 12px 3px 12px;
}

button:hover {
    background-color: rgba(90, 40, 124, 0.61);
}

.result-message {
    margin-top: 20px;
    border-top: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    font-size: 21px;
    font-style: italic;
    display: block;
}

.question-heading {
    margin-bottom: 20px;
}

.start-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.start-p {
    font-size: 18px;
    text-align: center;
}


.start-button {
    margin: 0px auto;
    font-size: 22px;
    padding: 4px 14px 4px 14px;
}

.score-p, .initials-p {
    font-size: 22px;
}

.submit-button {
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-size: 22px;
    background-color: rgb(91, 40, 124);
    border: solid;
    border-radius: 10px;
    padding: 3px 12px 3px 12px;
}

.player-score-display {
    color: white;
    background-color: rgba(90, 40, 124, 0.726);
    font-size: 22px;
}

.highscore-p {
    padding: 6px 20px 6px 20px; 
}

/* becasue only the text of the buttons is changing (not whole element), previous answer stays selected when new question rendered. */
/* removed outline and switched to faded purple color as a better aesthetic for keyboard navigators/accessibility */
button:focus {
    outline: 0;
    background-color: rgba(90, 40, 124, 0.61);
}



/* this class can be called to show or hide divs*/
.hidden {
    display: none;
}